.contact{
    &__bg{
        background-color: #014E56;
    }
    padding: 120px 164px;
    background-color: #014E56;
    background-image: url(../img/contactbgleft.svg), url(../img/contact-bgright.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    &__aside{
        width: 540px;
        margin-right: 30px;
    }
    &__title{
        font-weight: bold;
        font-size: 64px;
        line-height: 100px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    &__subtitle{
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #F67E7E;
        margin-bottom: 32px;
    }
    &__sublist{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__text{
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-left: 23px;
    }
    &__input{
        outline: none;
        width: 540px;
        background-color: #014E56;
        border: transparent;
        border-bottom: 1px solid #FFFFFF;
        height: 42px;
        margin-bottom: 24px;
        padding: 0 81px 17px 14px;
        
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.115385px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        
        &--message{
            height: 84px;
        }
    }
    &__button{
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24px;
        font-size: 18px;
        line-height: 28px;
        color: #004047;
        padding: 10px 32px;
        cursor: pointer;
        &:hover{
            background-color:#79C8C7;
            border: 2px solid #79C8C7;
        }
        &:active{
            opacity: 0.25;
        }
    }
}
textarea {
    resize: none;
  }
@media screen and (max-width: 770px) {
    .contact{
        padding: 112px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        &__aside{
            width: 515px;
            margin-right: 0;
        }
        &__title{
            font-size: 64px;
            line-height: 56px;
            text-align: center;
            margin-bottom: 24px;
        }
        &__subtitle{
            margin-bottom: 24px;
            text-align: center;
        }
        &__list{
            margin-bottom: 64px;
        }
        &__sublist{
            margin-bottom: 8px;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__input{
            width: 540px;
            background-color: #014E56;
            border: transparent;
            border-bottom: 1px solid #FFFFFF;
            height: 42px;
            margin-bottom: 24px;
            padding: 0 81px 17px 14px;
        }
        
    }
}
@media screen and (max-width: 560px) {
    .contact{
        padding: 80px 24px 88px 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-image: none;
        
        &__aside{
            width: 327px;
            margin-right: 0;
        }
        &__title{
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
        &__subtitle{
            margin-bottom: 40px;
            text-align: center;
        }
        &__list{
            margin-bottom: 56px;
        }
        &__sublist{
            margin-bottom: 24px;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__input{
            width: 325px;
            background-color: #014E56;
            border: transparent;
            border-bottom: 1px solid #FFFFFF;
            height: 42px;
            margin-bottom: 24px;
            padding: 0 81px 17px 14px;
        }
        
    }
}.contact{
    padding: 120px 164px;
    background-color: #014E56;
    background-image: url(../img/contactbgleft.svg), url(../img/contact-bgright.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    &__aside{
        width: 540px;
        margin-right: 30px;
    }
    &__title{
        font-weight: bold;
        font-size: 64px;
        line-height: 100px;
        color: #FFFFFF;
        margin-bottom: 16px;
    }
    &__subtitle{
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
        color: #F67E7E;
        margin-bottom: 32px;
    }
    &__sublist{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__text{
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-left: 23px;
    }
    &__input{
        width: 540px;
        background-color: #014E56;
        border: transparent;
        border-bottom: 1px solid #FFFFFF;
        height: 42px;
        margin-bottom: 24px;
        padding: 0 81px 17px 14px;
        
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.115385px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.6;
        
        &--message{
            height: 84px;
        }
    }
    &__button{
        background: #FFFFFF;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 24px;
        font-size: 18px;
        line-height: 28px;
        color: #004047;
        padding: 10px 32px;
        cursor: pointer;
    }
}
@media screen and (max-width: 770px) {
    .contact{
        padding: 112px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        &__aside{
            width: 515px;
            margin-right: 0;
        }
        &__title{
            font-size: 64px;
            line-height: 56px;
            text-align: center;
            margin-bottom: 24px;
        }
        &__subtitle{
            margin-bottom: 24px;
            text-align: center;
        }
        &__list{
            margin-bottom: 64px;
        }
        &__sublist{
            margin-bottom: 8px;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__input{
            width: 540px;
            background-color: #014E56;
            border: transparent;
            border-bottom: 1px solid #FFFFFF;
            height: 42px;
            margin-bottom: 24px;
            padding: 0 81px 17px 14px;
        }
        
    }
}
@media screen and (max-width: 560px) {
    .contact{
        padding: 80px 24px 88px 24px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-image: none;
        
        &__aside{
            width: 327px;
            margin-right: 0;
        }
        &__title{
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            margin-bottom: 16px;
        }
        &__subtitle{
            margin-bottom: 40px;
            text-align: center;
        }
        &__list{
            margin-bottom: 56px;
        }
        &__sublist{
            margin-bottom: 24px;
            
            &:last-child{
                margin-bottom: 0;
            }
        }
        &__input{
            width: 325px;
            background-color: #014E56;
            border: transparent;
            border-bottom: 1px solid #FFFFFF;
            height: 42px;
            margin-bottom: 24px;
            padding: 0 81px 17px 14px;
        }
        
    }
}